<div style="margin-top: 30px;">
  <h2 style="color: #403e4b;font-size: 25px;
  font-weight: 400;
  margin: 16px 0;
  padding: 0;"></h2>

  <div class="p-grid p-justify-start">
    <!-- --------------------------------------------FILA 1------------------------------------------------------------->
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-10  p-xl-offset-1">
      <p-fieldset legend="Búsqueda de Actividades" styleClass="fieldset-principal">


        <p-fieldset legend="Filtros" [toggleable]="true" style="text-align: left;">
          <div class="ui-fluid p-formgrid p-grid">

            <!--OT-->
            <div class="p-col-2 p-nogutter">
              <div class="p-col">
                <h4>Orden de Trabajo</h4>
              </div>
              <div class="p-col">
                <input type="text" size="7" maxlength="12" #ot pInputText [(ngModel)]="ordenSeleccionado">
              </div>
            </div>

            <!-- Unidad -->
            <div class="p-col-2 p-nogutter">
              <div class="p-col">
                <h4>Unidad</h4>
              </div>
              <div class="p-col">
                <p-dropdown [style]="{'width':'100%'}" [options]="UnidadOptions" [(ngModel)]="unidadSeleccionado"
                  (onChange)="despliegaSistemas()"></p-dropdown>
              </div>
            </div>

            <!-- Sistema -->
            <div class="p-col-2  p-nogutter">
              <div class="p-col">
                <h4>Sistema</h4>
              </div>
              <div class="p-col">
                <p-dropdown id="sis" filter="true" [style]="{'width':'100%'}" [options]="arrSistemas"
                  (onChange)="despliegaComponente(unidadSeleccionado,sistemaSeleccionado)"
                  [(ngModel)]="sistemaSeleccionado" [ngModelOptions]="{standalone:true}" required></p-dropdown>
              </div>
            </div>

            <!-- Componente -->
            <div class="p-col-2 p-nogutter">
              <div class="p-col">
                <h4>Componente</h4>
              </div>
              <div class="p-col">
                <p-dropdown id="com" [style]="{'width':'100%'}" filter="true" [options]="arrComponente"
                  [(ngModel)]="componenteSeleccionado" [ngModelOptions]="{standalone:true}" required></p-dropdown>
              </div>
            </div>

            <!-- Consecutivo -->
            <div class="p-col-2  p-nogutter">
              <div class="p-col">
                <h4>Consecutivo</h4>
              </div>
              <span class="ui-float-label">
                <input id="float-input" #consecutivo type="text" size="30" pInputText
                  [(ngModel)]="consecutivoSeleccionado"
                  (keyup)="consecutivo.value = servicioPVP.convertirMayusculas($event)">
                <label for="float-input"></label>
              </span>
            </div>

            <!-- División-->
            <div class="p-col-2 p-nogutter">
              <div class="p-col">
                <h4>División</h4>
              </div>
              <div class="p-col">
                <p-dropdown [style]="{'width':'100%'}" [options]="DivisionOptions" [(ngModel)]="divisionSeleccionado">
                </p-dropdown>
              </div>
            </div>

          </div>

          <!--**********************************************FILA 2**************************************************************-->


          <!-- -----------------------------------------Fila 5---------------------------------------------------------------------->
          <div class="ui-fluid p-formgrid p-grid">


            <!-- Botones -->
            <div class="p-col-2  p-nogutter">
              <div class="p-col">
                <button pButton type="button" pTooltip="Limpiar Filtros" tooltipPosition="top" label="Limpiar"
                  class="ui-button-raised ui-button-secondary" icon="fa fa-eraser" (click)="limpiaFiltros()"></button>
              </div>
              <div class="p-col">

                &nbsp;
                <button pButton type="button" pTooltip="Buscar" tooltipPosition="top" label="Buscar"
                  class="ui-button-raised ui-button-success" icon="fa fa-search" (click)="buscar()"></button>
              </div>
            </div>
          </div>
        </p-fieldset>

        <p-fieldset
          legend="Se encontraron {{totalRegistros}} Penetraciones, con {{totalRegistrosRelacionados}} Actividades Relacionadas">


          <div style="margin-left: 20px; margin-right: 20px">
            <p-treeTable [value]="arregloResultadoConsulta" selectionMode="single" #registros [paginator]="true"
              [rows]="10" [columns]="selectedColumns"
              [globalFilterFields]="['ubicacionTecnica','iDActividad', 'ingResponsable']">
              <ng-template pTemplate="caption">

                <div class="p-grid p-justify-start p-col-align-center">

                  <div class="p-col p-col-align-center">
                    <label>
                      <div class="legend penetracion"></div>
                      Actividades de Penetración
                    </label>
                  </div>
                  <div class="p-col p-col-align-center">
                    <div class="legend penetracion-hija"></div>
                    <label>
                      Actividades Secundarias de Penetración
                    </label>
                  </div>
                  <div class="p-col p-col-align-center">
                    <label>
                      <div class="legend relacionada"></div>
                      Actividades Relacionadas a Penetraciones
                    </label>
                  </div>
                  <div class="p-col p-col-align-center" style="text-align: right">
                    <input type="text" pInputText size="50" placeholder="Filtro Global"
                      (input)="registros.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </div>

              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr class="titulos-table">
                  <th *ngFor="let col of columns" [width]="col.width">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr class="cuerpo-table" [ttRow]="rowNode"
                  [ngClass]="{'act-penetracion': filaEsPenetracion(rowData),'act-penetracion-hija': filaEsPenetracionHija(rowData),'act-relacionada':filaEsRelacionada(rowData)  }">

                  <ng-container *ngFor="let col of columns; let i = index">
                    <td [ngStyle]="{'text-align':i == 0? 'left':'center'}" *ngIf="i == 0">
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                      {{rowData[col.field]}}
                    </td>
                    <td *ngIf="col.field == 'ordenTrabajo'"><label class="titulo">OT:</label>
                      {{rowData.ordenTrabajo != null ? rowData.ordenTrabajo : '-'}}<br><label
                        class="titulo">Div:</label> {{formatearDivision(rowData.division)}} </td>

                    <td *ngIf="col.field == 'ubicacionTecnica'"> <label
                        pTooltip="Denominación Equipo: {{rowData.denominacionEquipo != null ?rowData.denominacionEquipo :'-'}}">
                        {{rowData.ubicacionTecnica}} <br><label class="titulo">Sistema:</label>
                        {{rowData.claveSistema}}</label></td>
                    <td *ngIf="col.field == 'descripcionActividad'">{{rowData.descripcionActividad}}</td>
                    <td *ngIf="col.field == 'grupoTrabajo'">{{rowData.area+'-' +rowData.grupoTrabajo}}</td>
                    <td *ngIf="col.field == 'ingResponsable'">{{rowData.ingResponsable}}</td>
                    <td *ngIf="col.field == 'fechaPlanInicio'">
                      <div class="ui-fluid p-grid p-nogutter ">
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Planeada:</label></label>
                        <label class="p-col-8" style="text-align: right;">{{rowData.fechaPlanInicio | date :'short'}}
                        </label>
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Real:</label></label>
                        <label class="p-col-8"
                          style="text-align: right;">{{rowData.fechaRealInicio | date :'short'}}</label>
                      </div>
                    </td>
                    <td *ngIf="col.field == 'fechaPlanFin'">
                      <div class="ui-fluid p-grid p-nogutter ">
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Planeada:</label></label>
                        <label class="p-col-8" style="text-align: right;">{{rowData.fechaPlanFin | date :'short'}}
                        </label>
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Real:</label></label>
                        <label class="p-col-8"
                          style="text-align: right;">{{rowData.fechaRealFin | date :'short'}}</label>
                      </div>
                    </td>
                    <td *ngIf="col.field == 'duracionOriginal'">{{formatearDuracion(  rowData.fechaPlanInicio,rowData.fechaPlanFin) }}</td>
                  </ng-container>




                </tr>
              </ng-template>
            </p-treeTable>
          </div>


        </p-fieldset>

      </p-fieldset>
    </div>
  </div>

</div>
