
.table-container {
  padding:0 100px;
  margin-top: 60px;
}

.p-col {
  text-align: left;
}

.p-col label{
  font-size: 12px;
  font-weight: 600;
}

input{
  width: 100%;
}

.ui-fieldset .ui-fieldset-legend-text {
  vertical-align: middle;
  font-size: 15px;
  font-weight: bolder;
}
