<p-toast life="5000"></p-toast>
<div style="margin-top: 30px;">
  <h2 style="color: #403e4b;font-size: 25px;
  font-weight: 400;
  margin: 16px 0;
  padding: 0;"></h2>

  <div class="p-grid p-justify-start">
    <!-- --------------------------------------------FILA 1------------------------------------------------------------->
    <div class="p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-10  p-xl-offset-1">
      <p-fieldset legend="Búsqueda de Actividades" styleClass="fieldset-principal">


        <p-fieldset legend="Filtros" [toggleable]="true" [ngStyle]="{'text-align': 'left'}">

          <!--Formulario Filtros-->
          <div class="ui-fluid p-formgrid p-grid">
            <!--OT-->
            <div class="p-col-6 p-md-4 p-lg-3 p-xl-2  p-nogutter">
              <div class="p-col">
                <h4>Orden de Trabajo</h4>
              </div>
              <div class="p-col">
                <input type="text" size="7" maxlength="12" #ot pInputText [(ngModel)]="ordenSeleccionado">
              </div>
            </div>

            <!-- Unidad -->
            <div class="p-col-6 p-md-4 p-lg-3 p-xl-2 p-nogutter">
              <div class="p-col">
                <h4>Unidad</h4>
              </div>
              <div class="p-col">
                <p-dropdown [options]="UnidadOptions" [(ngModel)]="unidadSeleccionado" (onChange)="despliegaSistemas()">
                </p-dropdown>
              </div>
            </div>

            <!-- Sistema -->
            <div class="p-col-6 p-md-4 p-lg-3 p-xl-2  p-nogutter">
              <div class="p-col">
                <h4>Sistema</h4>
              </div>
              <div class="p-col">
                <p-dropdown id="sis" filter="true" [options]="arrSistemas"
                  (onChange)="despliegaComponente(unidadSeleccionado,sistemaSeleccionado)"
                  [(ngModel)]="sistemaSeleccionado" [ngModelOptions]="{standalone:true}" required></p-dropdown>
              </div>
            </div>

            <!-- Componente -->
            <div class="p-col-6 p-md-4 p-lg-3 p-xl-2 p-nogutter">
              <div class="p-col">
                <h4>Componente</h4>
              </div>
              <div class="p-col">
                <p-dropdown id="com" filter="true" [options]="arrComponente" [(ngModel)]="componenteSeleccionado"
                  [ngModelOptions]="{standalone:true}" required></p-dropdown>
              </div>
            </div>

            <!-- Consecutivo -->
            <div class="p-col-6 p-md-4 p-lg-3 p-xl-2  p-nogutter">
              <div class="p-col">
                <h4>Consecutivo</h4>
              </div>
              <span class="ui-float-label">
                <input id="float-input" #consecutivo type="text" size="30" pInputText
                  [(ngModel)]="consecutivoSeleccionado"
                  (keyup)="consecutivo.value = servicioPVP.convertirMayusculas($event)">
                <label for="float-input"></label>
              </span>
            </div>

            <!-- División-->
            <div class="p-col-6 p-md-4 p-lg-3 p-xl-2 p-nogutter">
              <div class="p-col">
                <h4>División</h4>
              </div>
              <div class="p-col">
                <p-dropdown [options]="DivisionOptions" [(ngModel)]="divisionSeleccionado">
                </p-dropdown>
              </div>
            </div>

            <!--OT-->
            <div class="p-col-12 p-md-6 p-lg-6 p-xl-4 p-nogutter">
              <div class="p-col">
                <h4>Descripción de Actividad</h4>
              </div>
              <div class="p-col">
                <textarea pInputTextarea autoResize="true" [(ngModel)]="descripcionActividadSeleccionado" placeholder=""
                  (ngModelChange)="descripcionActividadSeleccionado = $event.toUpperCase()"></textarea>
              </div>
            </div>

          </div>

          <!-- -----------------------------------------Fila 2---------------------------------------------------------------------->
          <div class="ui-fluid p-formgrid p-grid p-justify-center" style="padding: 10px 0; ">


            <!-- Botones -->
            <div class=" p-col-2">
              <button pButton type="button" pTooltip="Limpiar Filtros" tooltipPosition="top" label="Limpiar"
                class="ui-button-raised ui-button-secondary" icon="fa fa-eraser" (click)="limpiaFiltros()"></button>
            </div>
            <div class="p-col-2">
              <button pButton type="button" pTooltip="Buscar" tooltipPosition="top" label="Buscar"
                class="ui-button-raised ui-button-success" icon="fa fa-search" (click)="buscar(registros)"
                [disabled]="buscando"></button>
            </div>
          </div>
        </p-fieldset>

        <p-fieldset
          legend="Se encontraron {{totalRegistros}} Penetraciones, con {{totalRegistrosRelacionados}} Actividades Relacionadas">


          <div style="margin-left: 20px; margin-right: 20px">
            <p-treeTable [value]="arregloResultadoConsulta" selectionMode="single" #registros [paginator]="true"
              [rows]="10" [columns]="cols" [loading]="buscando"
              [globalFilterFields]="['ubicacionTecnica','iDActividad', 'ingResponsable', 'numorden']"
              [scrollable]="true" [style]="{width:'80vw'}">
              <ng-template pTemplate="caption">

                <div class="p-grid p-formgrid p-justify-start p-col-align-center">

                  <div class="p-col p-col-align-center">
                    <label>
                      <div class="legend penetracion"></div>
                      Actividades de Penetración
                    </label>
                  </div>
                  <div class="p-col p-col-align-center">
                    <div class="legend penetracion-hija"></div>
                    <label>
                      Actividades Secundarias de Penetración
                    </label>
                  </div>
                  <div class="p-col p-col-align-center">
                    <label>
                      <div class="legend relacionada"></div>
                      Actividades Relacionadas a Penetraciones
                    </label>
                  </div>
                  <div class="p-col p-col-align-center">
                    <input type="text" pInputText placeholder="Filtro Global" [(ngModel)]="filtroGlobal"
                      (input)="registros.filterGlobal($event.target.value, 'contains')">
                  </div>
                </div>

              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr class="titulos-table">
                  <th *ngFor="let col of columns" [width]="col.width">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr class="cuerpo-table" [ttRow]="rowNode"
                  [ngClass]="{'act-penetracion': filaEsPenetracion(rowData),'act-penetracion-hija': filaEsPenetracionHija(rowData),'act-relacionada':filaEsRelacionada(rowData)  }">

                  <ng-container *ngFor="let col of columns; let i = index">
                    <td [width]="col.width" [ngStyle]="{'text-align':i == 0? 'left':'center'}" *ngIf="i == 0">
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                      {{rowData[col.field]}}
                    </td>
                    <td [width]="col.width" *ngIf="col.field == 'ordenTrabajo'"><label class="titulo">OT: </label>
                      <a *ngIf="rowData.ordenTrabajo != null" pTooltip="Clic para Ver detalle"
                        href="{{ location.protocol + '//' + location.host + '/weborb/apps/cavam/detalleOT.swf?numorden='+rowData.ordenTrabajo}}"
                        target="_blank" style="
                          color: #007ad9;
                          text-decoration: none;
                          border: 1px solid;
                          background: #d9d9d9;
                          padding: 1px;
                      " rel="noopener noreferrer">{{rowData.ordenTrabajo != null ? rowData.ordenTrabajo : '-'}}</a>
                      <label *ngIf="rowData.ordenTrabajo == null">N/A</label>
                      <br><label class="titulo">Div:</label> {{formatearDivision(rowData.division)}} </td>

                    <td [width]="col.width" [ngStyle]="{width:col.width}" *ngIf="col.field == 'ubicacionTecnica'"
                      [pTooltip]="tooltipUbicacion(rowData)" [escape]="false"> <label>
                        {{rowData.ubicacionTecnica}} <br><label class="titulo">Sistema:</label>
                        {{rowData.claveSistema}}</label></td>
                    <td [width]="col.width" *ngIf="col.field == 'descripcionActividad'">{{rowData.descripcionActividad}}
                    </td>
                    <td [width]="col.width" *ngIf="col.field == 'grupoTrabajo'">
                      {{rowData.area+'-' +rowData.grupoTrabajo}}</td>
                    <td [width]="col.width" *ngIf="col.field == 'ingResponsable'">{{rowData.ingResponsable}}</td>
                    <td [width]="col.width" *ngIf="col.field == 'fechaPlanInicio'">
                      <div class="ui-fluid p-grid p-nogutter ">
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Planeada:</label></label>
                        <label class="p-col-8" style="text-align: right;">{{rowData.fechaPlanInicio | date :'short'}}
                        </label>
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Real:</label></label>
                        <label class="p-col-8"
                          style="text-align: right;">{{rowData.fechaRealInicio | date :'short'}}</label>
                      </div>
                    </td>
                    <td [width]="col.width" *ngIf="col.field == 'fechaPlanFin'">
                      <div class="ui-fluid p-grid p-nogutter ">
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Planeada:</label></label>
                        <label class="p-col-8" style="text-align: right;">{{rowData.fechaPlanFin | date :'short'}}
                        </label>
                        <label class="p-col-4" style="text-align: left;"><label class="titulo">Real:</label></label>
                        <label class="p-col-8"
                          style="text-align: right;">{{rowData.fechaRealFin | date :'short'}}</label>
                      </div>
                    </td>
                    <td [width]="col.width" *ngIf="col.field == 'duracionOriginal'">
                      {{formatearDuracion(  rowData.fechaPlanInicio,rowData.fechaPlanFin) }}</td>
                  </ng-container>




                </tr>
              </ng-template>
            </p-treeTable>
          </div>


        </p-fieldset>

      </p-fieldset>
    </div>
  </div>

</div>
