.table-container {
  padding: 0 100px;
  margin-top: 60px;
}

.p-col {
  text-align: left;
}

.p-col label {
  font-size: 12px;
  font-weight: 600;
}

input {
  width: 100%;
}

.ui-fieldset .ui-fieldset-legend-text {

  font-size: 15px;
  font-weight: bolder;
}


.cuerpo-table td {
  background: inherit;
  border: 1px solid #c8c8c8;
  font-size: 11px;
}

.titulos-table th {
  font-size: 11px;
}


h4 {
  margin-bottom: 0;
  font-size: 12px;
}


body .ui-treetable .ui-treetable-tbody>tr.act-penetracion {
  background: rgb(44, 43, 43);
  color: white;
}

body .ui-treetable .ui-treetable-tbody>tr.act-penetracion-hija {
  background: rgb(179, 179, 179);
  color: black;
}

/*body .ui-treetable .ui-treetable-tbody > tr.act-relacionada{
  background: rgb(229 248 255);
  border: 2px solid #00ff7c;
}
body .ui-treetable .ui-treetable-tbody > tr.act-relacionada,
body .ui-treetable .ui-treetable-tbody > tr.act-penetracion-hija
{
  border: 2px solid #00ff7c;
}*/


body .ui-treetable.ui-treetable-hoverable-rows .ui-treetable-tbody>tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
  cursor: pointer;
  background-color: #0c0c0c;
  color: white;
}

body .ui-treetable .ui-treetable-tbody>tr>td .ui-treetable-toggler {
  color: #61b9da;
  vertical-align: middle;
}


body table .pi {
  color: #f40000;
}

.tooltip-table {
  font-size: 12x;
}


.tooltip-table label {
  font-size: 12x;
  color: rgb(0, 129, 255);
  ;
}

.legend {

  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #61b9da;
}

.legend.penetracion {
  background-color: rgb(44, 43, 43);
}

.legend.penetracion-hija {
  background-color: rgb(179, 179, 179);
}

.legend.relacionada {
  background-color: #ffffff;
}

.titulo {
  color: rgb(0, 129, 255);
  font-weight: 600;
}

.ui-tooltip,
.ui-tooltip-text {
  max-width: 300px;
}

.ui-tooltip-text.ui-shadow.ui-corner-all {
  border: 1px solid black;
  background: rgb(255, 255, 255);
  color: black;
}


.ui-tooltip-text.ui-shadow.ui-corner-all label {
  font-weight: bold;
}


#ubicacion-tooltip {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ubicacion-tooltip td,
#ubicacion-tooltip th {
  border: 2px solid #ddd;
  padding: 8px;
}

#ubicacion-tooltip tr:nth-child(even) {
  background-color: #f2f2f2;
}

#ubicacion-tooltip tr:hover {
  background-color: #ddd;
}

#ubicacion-tooltip th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
